# Ignore everything by default
/*

# Local by Flywheel / WordPress artifacts
!.gitignore
!README.md
!docs/
docs/*
!docs/*.md
!app/
app/*
!app/public/
app/public/*
!app/public/wp-content/
app/public/wp-content/*
!app/public/wp-content/plugins/
app/public/wp-content/plugins/*
!app/public/wp-content/plugins/travel-agency-platform/
!app/public/wp-content/themes/
app/public/wp-content/themes/*
!app/public/wp-content/themes/travel-agency-theme/
